.card {
    height: 25rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.65);
    padding: 0 3rem;
}

.form-control {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.form-control:last-child {
    margin-bottom: 0;
}

.form-control label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-control input {
    font-size: 1rem;
    padding: 0.35rem 0.5rem;
    border-radius: 6px;
}

.form-control input:hover {
    background-color: rgb(255, 247, 255);
}

.register-text {
    font-size: 0.8rem;
    color: #6e6e6e;
}

.register-text a {
    text-decoration: none;
    color: skyblue;
}

.register-text a:hover {
    color: rgb(73, 183, 226);
}