* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    font-size: 1rem;
}

nav {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 5rem;
    background-color: #6b00cf;
}

.nav-item {
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    background-color: #ececec;
    text-decoration: none;
    color: #6b00cf;
    border-radius: 12px;
}

.nav-item:hover {
    cursor: pointer;
    background-color: #fff;
}

.nav-item:last-child {
    margin-right: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem;
}

.flashes {
    margin-bottom: 1rem;
}

.flashes li {
    list-style: none;
    font-size: 1.2rem;
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 6px;
}

.flashes .success {
    background-color: #baebff;
}

.flashes .warning {
    background-color: #f9a9a9;
}

.flashes .info {
    background-color: #b5fee0;
}