{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static "layout.css" %}">
  {% block css_file %} {% endblock %}
  <title>{% block title %} {% endblock %}</title>
</head>
<body>
  <nav>
      <a href="{% url 'index' %}" class="nav-home">Home</a>
      <div class="nav-posts">
        <a href="{% url 'posts' %}">All Posts</a>
        <a href="{% url 'read-later' %}">Stored Posts</a>
        <a href="{% url 'all-tags' %}">All Tags</a>
      </div>
  </nav>
     
    {% block content %} {% endblock %}
</body>
</html>