/* MY-BLOG PART */
.my-blog {
  display: flex;
  background-color: #6700ab;
  padding: 1rem 8rem 2rem 8rem;
  /* margin-bottom: 5rem; */
}

.my-blog-content {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.blog-image {
  width: 8rem;
  height: 8rem;
  border: 2px solid #fff;
  border-radius: 12px;
  rotate: -10deg;
  display: inline-block;
}

.blog-image:hover {
  rotate: 10deg;
}

.blog-title,
.blog-desc {
  color: #e4e4e4;
}

.blog-title {
  margin-bottom: 1rem;
}

/* BLOG-CONTAINER PART */
.latest-posts {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0,0,0, 0.26);
  padding: 2rem 3rem;

  transform: translate(0, -1rem);
}

.post-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 30%; */
  border: none;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0,0,0, 0.26);
  padding: 1.5rem;
}

.post-card:hover {
  box-shadow: 2px 5px 10px rgba(0,0,0, 0.26);
}

.post-img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}

.post-title {
  margin: 0.5rem 0;
}

.post-desc {
  font-size: 0.8rem;
}

/* POST PART */
.comment {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;

  border: none;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0,0,0, 0.26);
  padding: 2rem 3rem;

  position: relative;
}

.comment-title {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.comment-list {
  list-style: none;

}

.comment-item {
  margin-bottom: 0.8rem;
}

.comment-leave-title {
  margin-bottom: 1rem;
}

.comment-form {
  display: flex;
  flex-direction: column;
}


.comment-form label {
  display: block;
}

.comment-form input,
.comment-form textarea {
  border-radius: 6px;
  padding: 0.25rem 0.8rem;
}

.comment-form input:hover,
.comment-form textarea:hover {
  background-color: #f9f0ff;
}

.comment-form input,
.comment-form textarea {
  margin-bottom: 1rem;
}

.comment-form input {
  font-size: 1rem;
}

.comment-form textarea {
  font-size: 1.2rem;
}

.comment-button,
.comment-button:visited {
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  border-radius: 6px;
  background-color: #7401c0;
  color: #fff;
  font-size: 1rem;
}

.comment-button:hover,
.comment-button:active {
  cursor: pointer;
  background-color: #a628fa;
}