.post-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 1.5rem;
  padding: 0;
}

.post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 14rem;
  height: 18rem;
  padding: 1.6rem 1rem;
  box-shadow: 3px 3px 10px 5px rgba(0,0,0, 0.25);
  border-radius: 10px;
}

.post-head {
  height: 40%;
}

.post-image {
  margin-bottom: 0.8rem;
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
}

.post-title {
  margin-bottom: 0.8rem;
  font-size: 1rem;
}

.post-desc {
  font-size: 0.8rem;
  line-height: 1.4;
  text-align: center;
}

.post-link,
.post-link:visited {
  /* margin-right: 2rem; */
  display: inline-block;
  text-decoration: none;
  color: #333;
}

.post-link:hover {
  color: #fff;
  background-color: #5f00ca;
  border-radius: 10px;
}

/* .post-link:last-child {
  margin-right: 0;
} */

/* TAGS */
.tag-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  width: 90%;
  margin: 3rem 0;
}

.tag-link,
.tag-link:visited {
  display: block;
  text-decoration: none;
  color: #333;
}

.tag-link:hover {
  color: #fff;
  background-color: #5f00ca;
  border-radius: 10px;
}

.post-tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 1.6rem 2rem;
  box-shadow: 3px 3px 10px 5px rgba(0,0,0, 0.25);
  border-radius: 10px;
}

.tag-title {
  margin-bottom: 0;
  font-size: 1rem;
}

.tag-image {
  display: block;
  /* width: 3rem;
  height: 3rem; */
  border-radius: 100%;
}

.tag-image-title {
  display: block;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}