<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block css_file %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
   
        <nav>
            <a href="{{ url_for('main.home') }}" class="nav-item">Home</a>
            <a href="{{ url_for('main.login') }}" class="nav-item">Login</a>
        </nav>

        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
</body>
</html>
