{% extends 'base.html' %}

{% block css_file %}
  <link rel="stylesheet" href="{{ url_for('static', filename='posts.css') }}">
{% endblock %}

{% block content %}
  <div class="post-card">
    <div class="post-card-left">
        <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file ) }}" alt="" class="post-author-image">
        <div class="post-area">
            <div class="post-info">
                <div>
                  <a href="#" class="post-author-link">{{ post.author.username }}</a>
                  <small class="post-date">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <div>
                  <a href="{{ url_for('posts.update_post', id=post.id) }}" type="button" class="btn btn-sm btn-warning">Update</a>
                  <!-- Delete button trigger modal -->
                  <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                </div>
            </div>
            <div class="post-content-area">
                <h3>{{ post.title }}</h3>
                <p class="post-content">{{ post.content }}</p>
            </div>
        </div>
    </div>
  
    <div class="post-card-right"></div>
  </div>

  <!-- Delete modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Post?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a type="button" href="{{ url_for('posts.delete_post', id=post.id) }}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}