{% extends 'base.html' %}
{% load static %}

{% block css_file %}<link rel="stylesheet" href="{% static 'posts/posts.css' %}">{% endblock %}
{% block title %}All Posts{% endblock %}

{% block blog-content %}
  <div class="latest-posts">
    <h2>Latest Posts</h2>
    <div class="post-card-container">
      <div class="post-card">
        <img src="{% static 'posts/mountains.jpg' %}" alt="post-img" class="post-img">
        <h3 class="post-title">Hello Django!</h3>
        <p class="post-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum itaque praesentium neque laboriosam voluptatum commodi consequatur incidunt assumenda omnis magni. Odit error perspiciatis quaerat consequatur cumque quos animi modi placeat.</p>
      </div>

      <div class="post-card">
        <img src="{% static 'posts/mountains.jpg' %}" alt="post-img" class="post-img">
        <h3 class="post-title">Hello Django!</h3>
        <p class="post-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum itaque praesentium neque laboriosam voluptatum commodi consequatur incidunt assumenda omnis magni. Odit error perspiciatis quaerat consequatur cumque quos animi modi placeat.</p>
      </div>

      <div class="post-card">
        <img src="{% static 'posts/mountains.jpg' %}" alt="post-img" class="post-img">
        <h3 class="post-title">Hello Django!</h3>
        <p class="post-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum itaque praesentium neque laboriosam voluptatum commodi consequatur incidunt assumenda omnis magni. Odit error perspiciatis quaerat consequatur cumque quos animi modi placeat.</p>
      </div>

      <div class="post-card">
        <img src="{% static 'posts/mountains.jpg' %}" alt="post-img" class="post-img">
        <h3 class="post-title">Hello Django!</h3>
        <p class="post-desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum itaque praesentium neque laboriosam voluptatum commodi consequatur incidunt assumenda omnis magni. Odit error perspiciatis quaerat consequatur cumque quos animi modi placeat.</p>
      </div>
    </div>
  </div>
{% endblock %}