{% extends 'base.html' %}
{% load static %}

{% block css_file %}<link rel="stylesheet" href="{% static 'posts/posts.css' %}">{% endblock %}
{% block title %}Leave Your Comment!{% endblock %}

{% block blog-content %}
    <section class="post-section">
        <div class="post-nav">
            <p class="post-title">{{ post.title }}</p>
            <div class="post-desc">
                <img src="{{ post.image.url }}" class="post-image">
                <span class="post-author">{{ post.author }}</span>
                <span class="post-created">{{ post.posted }}</span>
            </div>
        </div>
        <div class="post-content">
            {{ post.content | linebreaks }}
        </div>
    </section>
    <section class="comment">
        <h3 class="comment-title">Comments</h3>
        <ul class="comment-list">
            {% if comments %}
                {% for comment in comments %}
                    <li class="comment-item">{{ comment.content }}</li>
                {% endfor %}
            {% endif %}
        </ul>
        <div class="comment-form">
            <h3 class="comment-leave-title">Leave Your Comment Below😘</h3>
            <form method="POST" action="{{ post.get_absolute_url }}">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="comment-button">Submit</button>
            </form>
        </div>
    </section>
{% endblock %}
