{% extends 'base.html' %}
{% load static %}

{% block css_file %}<link rel="stylesheet" href="{% static 'posts/posts.css' %}">{% endblock %}
{% block title %}All Posts{% endblock %}

{% block blog-content %}
  <div class="latest-posts">
    <h2>Latest Posts</h2>
    <div class="post-card-container">
      {% for post in posts %}
        <div class="post-card">
          <img src="{{ post.image.url }}" alt="post-img" class="post-card-img">
          <h3 class="post-card-title">{{ post.title }}</h3>
          <p class="post-card-desc">{{ post.desc }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}